
<button mat-button>Home Page</button>
<!-- #docregion menu-position -->
<mat-menu #aboveMenu="matMenu" >
<!-- #enddocregion menu-position -->

</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">About Me</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>School</button>
  <button mat-menu-item>Work </button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Projects</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Data Modeling</button>
  <button mat-menu-item>Programming</button>
</mat-menu>


<button mat-button>Thougts</button>





<!-- Copyright 2022 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->